<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weavernap.chuggydodge"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-sdk
        tools:overrideLibrary="
    com.google.example.games.basegameutils,
    com.google.firebase.firebase_core,
    com.google.firebase.firebase_ads,
    com.google.android.gms.play_services,
    com.google.android.gms.ads.impl,
    com.google.android.gms.ads,
    com.google.android.gms.analytics,
    com.google.android.gms.appinvite,
    com.google.android.gms.auth.api,
    com.google.android.gms.auth,
    com.google.android.gms.cast.framework,
    com.google.android.gms.cast,
    com.google.android.gms.clearcut,
    com.google.firebase.remoteconfig,
    com.google.android.gms.contextmanager,
    com.google.firebase.crash,
    com.google.firebase.auth.api,
    com.google.firebase.database,
    com.google.firebase.database.connection,
    com.google.firebase.messaging,
    com.google.firebase.storage,
    com.google.android.gms.all,
    com.google.android.gms.ads,
    com.google.android.gms.auth,
    com.google.android.gms.base,
    com.google.android.gms.measurement,
    com.google.android.gms,
    com.google.android.gms.analytics,
    com.google.android.gms.appindexing,
    com.google.android.gms.appinvite,
    com.google.android.gms.appstate,
    com.google.android.gms.cast,
    com.google.android.gms.drive,
    com.google.android.gms.fitness,
    com.google.android.gms.location,
    com.google.android.gms.maps,
    com.google.android.gms.games,
    com.google.android.gms.gcm,
    com.google.android.gms.identity,
    com.google.android.gms.nearby,
    com.google.android.gms.panorama,
    com.google.android.gms.plus,
    com.google.android.gms.safetynet,
    com.google.android.gms.wallet,
    com.google.android.gms.gass,
    com.google.android.gms.iid,
    com.google.android.gms.instantapps,
    com.google.android.gms.tagmanager.impl,
    com.google.android.gms.tagmanager,
    com.google.android.gms.measurement.impl,
    com.google.firebase.iid,
    com.google.firebase,
    com.google.android.gms.vision,
    com.google.android.gms.wearable,
    com.google.android.gms.tasks"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Chugger Dodge"
        android:theme="@style/GdxTheme"
        android:name="android.support.multidex.MultiDexApplication">

        <activity
            android:name="com.weavernap.chuggydodge.AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="Chugger Dodge"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />



    </application>

</manifest>
